.aiContainer {
  width: 660px;
  margin: auto;
}

.textCenter {
  text-align: center;
}

.title::before,
.title::after {
  display: inline-block;
  position: absolute;
  width: 10px;
  height: 100%;
  border: 3px solid var(--color-primary);
  box-sizing: border-box;
  content: '';
}

.title::before {
  top: 0;
  left: 0;
  border-right: none;
}

.title::after {
  bottom: 0;
  right: 0;
  border-left: none;
}

.label {
  display: inline-block;
  width: 160px;
}

.fieldLabel {
  display: flex;
  align-items: flex-start;
}

.my10 {
  margin-block: 10px;
}
.my20 {
  margin-block: 20px;
}
.my30 {
  margin-block: 30px;
}

.contentsGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  gap: 20px;
}
