.card {
  padding: 26px 36px;
  border-radius: 10px;
  background: #ffffff;
  margin-block: 12px;
}
.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}
.name {
  margin: 0;
  font-size: 20px;
  font-weight: 600;
  display: flex;
}
.status {
  font-size: 12px;
  padding: 0 12px;
  margin-inline: 14px;
  border-radius: 999px;
}
.draft {
  background: var(--color-low);
  color: #fff;
}
.complete {
  background: var(--color-midium);
  color: #fff;
}
.published {
  background: var(--color-high);
  color: #fff;
}

.body {
  margin-bottom: 10px;
  white-space: pre-wrap;
  color: #374151;
  font-size: 16px;
  line-height: 1.8;
}
.tag {
  display: inline-block;
  font-size: 0.9em;
  margin-right: 1em;
}
.tag:hover {
  color: var(--color-secondary);
  cursor: pointer;
}
.favoriteIcon {
  cursor: pointer;
  padding-right: 1em;
}

.pencil svg:hover {
  color: var(--color-secondary);
}
